---
import BaseLayout from '../layouts/BaseLayout.astro';
import BentoGrid from '../components/BentoGrid.astro';
---

<BaseLayout title="Yumin Cao">
  <div class="container">
    <BentoGrid />
  </div>
</BaseLayout>
